<!DOCTYPE html>
<html lang="pt-br" ng-app="findies" ng-controller="mainCtrl">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#00c853">
    <title>Findies</title>
    <!-- GOOGLE ICONS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="public/css/main.css" media="screen" title="no title" charset="utf-8">
    <!-- MATERIALIZE CSS -->
    <link rel="stylesheet" href="lib/materialize/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
    <!-- STYLE CSS -->
    <link rel="stylesheet" href="public/css/main.css">
    <!-- SHORTCUT ICON -->
    <link rel="shortcut icon" href="{{API_IMAGEM}}img/logo_icon.ico">
    <!--  BROWSER É OTIMIZADO PARA MOBILE  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- <meta name="viewport" content="width=device-width, user-scalable=no"> -->

    <!-- IMPORT JQUERY JS BEFORE MATERIALIZE JS -->
    <script type="text/javascript" src="lib/jquery/jquery-3.0.min.js"></script>

    <!-- ANGULAR JS -->
    <script type="text/javascript" src="lib/angular/angular.min.js"></script>
    <!-- ANGULAR ROUTE -->
    <script type="text/javascript" src="lib/angular/angular-route.min.js"></script>



    <!-- clock materialize -->
    <link rel="stylesheet" href="lib/materialize/css/materialize.clockpicker.css">
    <!-- mainMat JS -->
    <script type="text/javascript" src="lib/materialize/js/materialize.clockpicker.js"></script>

  </head>
  <body class="site grey lighten-4"> <!--grey lighten-2-->


    <!--  MAIN  -->
    <div class="site-content">

      <header class="navbar-fixed">

        <nav>
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s12 m12 l9 offset-l3">


                <div class="col s2 m1">
                  <!-- <a href="#" class="button-collapse hide-on-large-only"
                              data-activates="nav-mobile"
                              data-sidenav="left"
                              data-menuwidth="300"
                              data-closeonclick="true">
                        <i class="material-icons">menu</i>
                  </a> -->
                  <a href="#" data-activates="nav-mobile"
                              class="button-collapse"
                              data-sidenav="left"
                              data-menuwidth="300"
                              data-closeonclick="false">
                              <i class="material-icons">menu</i></a>

                </div>

                <div class="col s10 m9 l9 divSearch">
                  <form class="simple-form">
                    <div class="input-field">
                      <input id="search" type="search" ng-model="tempTextoBusca" required>
                      <input for="search" type="submit" ng-click="search(tempTextoBusca)" style="display: none;"><i class="material-icons">search</i>
                      <i class="material-icons">close</i>
                    </div>
                  </form>
                </div>

                <a class="col m2 l2 hide-on-small-only dropdown-button white divUserOptions hide-on-med-only"
                      style="margin-top: 25px; margin-left: 50px; height: 35px; border-radius: 25px; color: black;"
                      href="#"
                      data-activates="dropOptions">
                  <!-- Dropdown Trigger -->
                  <!-- <a class="dropdown-button white" href="#" data-activates="dropdown1" style="margin-left: 40px;"> -->
                    <img class="circle responsive-img"
                        ng-src="static/img/usuarios/user{{user.id}}.jpg"
                        alt="imagem de perfil do usuário"
                        style="margin-left: -35px; margin-top: -12px; border: 4px solid #ffffff; height: 60px;"/>
                  <!-- </a> -->
                    <p style="margin-top: -90px; margin-left: 30px;">
                      {{user.nome}}
                    </p>
                    <i class="material-icons right" style="margin-top: -78px; margin-left: 60px;">keyboard_arrow_down</i>
                </a>

                  <!-- Dropdown Structure -->
                  <ul id="dropOptions" class="dropdown-content" style="margin-top: 60px; margin-left: 35px;">
                    <li><a href="#/perfil">Perfil</a></li>
                    <li><a href="">Configurações</a></li>
                    <!-- <li class="divider"></li> -->
                    <li ng-click="logout()"><a href="#!">Sair</a></li>
                  </ul>

              </div>
            </div>
            <!-- <div class="top-nav z-depth-5"> -->
              <!-- <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="300" data-closeonclick="true">
                <i class="material-icons">menu</i>
              </a> -->
            <!-- </div> -->


            <ul id="nav-mobile" class="side-nav fixed grey darken-4 z-depth-0">

              <div class="userView" style="height: 90px;">
                <a href="#/" class="logo white-text"><img id="img-logo" ng-src="{{API_STATIC}}img/logo.png"/></a>
                <!-- <img class="responsive-img" src="static/img/logo.png)"  alt="" /> -->

              </div>
              <div class="divider"></div>
                <ul class="collapsible collapsible-acordion">

                  <!-- <li> AMIGOS -->
                  <li>
                    <a href="#/amigos" class="collapsible-header waves-effect waves-teal bold green-text">
                      <i class="tiny material-icons">people</i>
                      <h1>Amigos</h1>
                    </a>
                  </li>
                  <div class="divider"></div>

                  <!-- <li> PARTIDAS -->
                  <li>
                    <a href="#/novaPartida" class="collapsible-header waves-effect waves-teal bold green-text">
                      <i class="tiny material-icons">event_avaliable</i>
                      <h1>Nova partida</h1>
                    </a>
                  </li>

                  <div class="divider"></div>

                  <!-- <li> TIMES -->
                  <li>
                    <a class="collapsible-header waves-effect waves-teal bold green-text">
                      <i class="tiny material-icons">security</i>
                      <h1>Times</h1>
                    </a>
                    <div class="collapsible-body">
                      <ul>
                        <div class="divider"></div>
                        <li class="grey darken-3">
                          <a href="#/novoTime" class="waves-effect waves-teal green-text"><h2>Novo Time</h2></a>
                        </li>
                        <div class="divider"></div>
                        <li class="grey darken-3" >
                          <a href="#/times" class="waves-effect waves-teal green-text"><h2>Meus Times</h2></a>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <div class="divider"></div>

                  <!-- SAIR -->
                  <!-- <li class="hide-on-large-only" ng-click="logout()">
                    <i class="tiny material-icons">exit_to_app</i>
                    <a href="#" class="collapsible-header waves-effect waves-teal bold green-text">Sair</a>
                  </li> -->

                  <li class="hide-on-large-only">
                    <a href="" ng-click="logout()" class="collapsible-header waves-effect waves-teal bold green-text">
                      <i class="tiny material-icons">exit_to_app</i>
                      <h1>Sair</h1>
                    </a>
                  </li>

                  <div class="divider hide-on-large-only"></div>

                </ul>
                <!-- <a id="amigosMenu" href="#amigos">
                  <i class="material-icons left">add</i>
                Amigos</a> -->
              <!-- FOOTER  -->
              <footer id="footer" class="page-footer grey darken-4">
                <div class="footer-copyright grey darken-4">
                  <p class="center-align">&copy; 2016, Findies</p>
                </div>
              </footer>

            </ul>


          </div>
        </nav>
      </header>

      <div class="row">
        <!-- <div class="col m1">
        </div> -->
        <!-- col s12 m10 -->
        <div class="col s12 m10 offset-m1 l10 offset-l1">
          <div ng-view class="content" style="padding-top: 30px;"></div>
        </div>

        <!-- <div class="col m1">
        área reservada p propaganda.
        <div class="col hide-on-small-only m3 l2">
                <div class="toc-wrapper">
                  <div style="height: 1px;">
                  <ul class="table-of-contents">
                    <li><a href="#download">Download</a></li>
                    <li><a href="#setup">Setup</a></li>
                    <li><a href="#templates">Templates</a></li>
                    <li><a href="#third-party-options">Third-party Options</a></li>
                    <li><a href="#sass">Sass</a></li>
                  </ul>
                  </div>
                </div>
              </div> -->

        </div><!-- .col s12 m10 l10 -->
      </div><!-- .row -->

  <!-- APP.JS -->
  <script type="text/javascript" src="public/js/findies.js"></script>
  <script type="text/javascript" src="lib/jwt/angular-jwt.js"></script>
  <script type="text/javascript" src="lib/ngstorage/ngStorage.min.js"></script>

  <!-- CONTROLLERS -->
  <script type="text/javascript" src="public/js/controllers/mainCtrl.js"></script>
  <script type="text/javascript" src="public/js/controllers/homeCtrl.js"></script>
  <script type="text/javascript" src="public/js/controllers/novaPartidaCtrl.js"></script>
  <script type="text/javascript" src="public/js/controllers/timesCtrl.js"></script>
  <script type="text/javascript" src="public/js/controllers/novoTimeCtrl.js"></script>
  <script type="text/javascript" src="public/js/controllers/amigosCtrl.js"></script>
  <script type="text/javascript" src="public/js/controllers/buscaCtrl.js"></script>
  <script type="text/javascript" src="public/js/controllers/perfilCtrl.js"></script>

  <!-- MATERIALIZE JS -->
  <script type="text/javascript" src="lib/materialize/js/materialize.min.js"></script>
  <!-- angular-materialize -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.1.9/angular-materialize.min.js"></script>
  <!-- mainMat JS -->
  <script type="text/javascript" src="public/js/materialize/mainMat.js"></script>

  </body>
</html>
