<!DOCTYPE html>
<div class="divHome" style="margin-top: 20px;">
  <h4>{{titulo}}</h4>
  <div class="row">

        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title">14/01/2017</span>
              <p>Local:</p>
              <p>Aeroclube. Av. Hermes da Fonseca, 1296 - Tirol, Natal - RN</p>
              <p style="margin-top:20px;">Horáriol:</p>
              <p>15:00 - 16:00</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title">14/01/2017</span>
              <p>Local:</p>
              <p>Aeroclube. Av. Hermes da Fonseca, 1296 - Tirol, Natal - RN</p>
              <p style="margin-top:20px;">Horáriol:</p>
              <p>15:00 - 16:00</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title">14/01/2017</span>
              <p>Local:</p>
              <p>Aeroclube. Av. Hermes da Fonseca, 1296 - Tirol, Natal - RN</p>
              <p style="margin-top:20px;">Horáriol:</p>
              <p>15:00 - 16:00</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4 l4">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title">14/01/2017</span>
              <p>Local:</p>
              <p>Aeroclube. Av. Hermes da Fonseca, 1296 - Tirol, Natal - RN</p>
              <p style="margin-top:20px;">Horáriol:</p>
              <p>15:00 - 16:00</p>
            </div>
          </div>
        </div>

  </div>
</div>
<!-- <h1>{{titulo}}</h1> -->
