<!DOCTYPE html>
<div class="divAmigos">

<link rel="stylesheet" href="public/css/amigos.css">
<h4>{{titulo}}</h4>

<ul>
  <div class="row">
    <!-- {{jogadores}} -->
    <li class="col s4 m2" ng-repeat="j in jogadores | filter: naoRetorna | orderBy:'nome_jogador'">
      <div class="containerJogador z-depth-1">
        <div class="imgUser">
          <img class="responsive-img" src="{{API_STATIC}}img/usuarios/user3.jpg">
        </div>
        <div class="divider"></div>
        <p class="center-align">{{j.nome_jogador}}</p>
        <a href ng-click="removerAmigo(j, jogadores)" class="waves-effect red waves-light btn-remover btn btn-small remover center-align">Remover</a>
      </div>
    </li>
  </div>
</ul>

</div>
