<!DOCTYPE html>
<link rel="stylesheet" href="public/css/busca.css">
<div class="divBusca" style="margin-top: 20px;">
  <h4>{{titulo}}</h4>

  <div class="row">
    <h5>Jogadores</h5>
    <ul>
      <div class="row">
        <!-- {{jogadores}} -->
        <li class="col s4 m2" ng-repeat="j in jogadores | filter: naoRetorna | orderBy:'nome_jogador'">
          <div class="containerJogador z-depth-1">
            <div class="imgUser">
              <img class="responsive-img" src="{{API_STATIC}}img/usuarios/user3.jpg">
            </div>
            <div class="divider"></div>
            <p class="center-align">{{j.nome_jogador}}</p>
            <a href ng-click="removerAmigo(j, jogadores)" class="waves-effect blue waves-light btn-remover btn btn-small remover center-align">Adicionar</a>
          </div>
        </li>
      </div>
    </ul>
  </div><!-- row -->

  <div class="row">
    <h5>Locais</h5>
    <ul>
      <div class="row">
        <!-- {{jogadores}} -->
        <li class="col s4 m2" ng-repeat="j in jogadores | filter: naoRetorna | orderBy:'nome_jogador'">
          <div class="containerJogador z-depth-1">
            <div class="imgUser">
              <img class="responsive-img" src="{{FRONT}}/static/img/locais/local.jpg">
            </div>
            <div class="divider"></div>
            <p class="center-align">{{j.nome_jogador}}</p>
            <a href ng-click="removerAmigo(j, jogadores)" class="waves-effect blue waves-light btn-remover btn btn-small remover center-align">Ver mais</a>
          </div>
        </li>
      </div>
    </ul>
  </div><!-- row -->

  <div class="row">
    <h5>Partidas</h5>
    <div class="">
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title">14/01/2017</span>
            <p>Local:</p>
            <p>Aeroclube. Av. Hermes da Fonseca, 1296 - Tirol, Natal - RN</p>
            <p style="margin-top:20px;">Horáriol:</p>
            <p>15:00 - 16:00</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title">14/01/2017</span>
            <p>Local:</p>
            <p>Aeroclube. Av. Hermes da Fonseca, 1296 - Tirol, Natal - RN</p>
            <p style="margin-top:20px;">Horáriol:</p>
            <p>15:00 - 16:00</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title">14/01/2017</span>
            <p>Local:</p>
            <p>Aeroclube. Av. Hermes da Fonseca, 1296 - Tirol, Natal - RN</p>
            <p style="margin-top:20px;">Horáriol:</p>
            <p>15:00 - 16:00</p>
          </div>
        </div>
      </div>
      <div class="col s12 m4 l4">
        <div class="card">
          <div class="card-content black-text">
            <span class="card-title">14/01/2017</span>
            <p>Local:</p>
            <p>Aeroclube. Av. Hermes da Fonseca, 1296 - Tirol, Natal - RN</p>
            <p style="margin-top:20px;">Horáriol:</p>
            <p>15:00 - 16:00</p>
          </div>
        </div>
      </div>
    </div>
  </div><!-- row -->

  <div class="row">
    <h5>Times</h5>
    <ul>
      <li class="col s12 m4"
          ng-repeat="time in times | filter: naoRetorna | orderBy:'nome'"
          ng-click="getAmigos(amigos)"
          style="padding: 10px;">


        <div class="card hoverable" ng-click="getJogadoresTime(arrayJogadoresTimes, time.idTime) | filter: naoRetorna">
          <div class="card-image">
            <img class="activator" ng-src="{{API_STATIC}}img/times/escudo-qdd.jpg" heigth="10" width="30">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><h6>{{time.nome}}</h6></span>
          </div>
          <div class="card-reveal">

            <div class="row">
              <h6>Integrantes</h6>
            </div><!-- .row -->
            <div class="row">
              <ul>
                <li ng-repeat="jogador in arrayJogadoresTimes[time.idTime] | filter: naoRetorna">

                  <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">
                    <img class="img-circle col s3" style="padding: 2px;" ng-src="{{API_STATIC}}img/usuarios/user.jpg" alt="" />
                  </a>

                </li>
              </ul>
            </div><!-- .row -->


          </div><!-- .card-reveal -->
        </div><!-- .card -->

      </li><!-- li -> col s12 m6 -->
    </ul>
  </div><!-- row -->


</div>
