<!DOCTYPE html>
<link rel="stylesheet" href="public/css/novaPartida.css">
<div class="divNovaPartida">
  <h4>{{titulo}}</h4>

  <!-- visibilidade: {{dadosEnviar.visibilidade}}
  <br>
  local: {{dadosEnviar.local}}
  <br>
  frequencia: {{dadosEnviar.frequencia}}
  <br>
  data: {{dadosEnviar.data}}
  <br>
  diasFrequencia: {{dadosEnviar.diasFrequencia}}
  <br>
  horario: {{dadosEnviar.horario}}
  <br>
  jogadores: {{dadosEnviar.jogadores}}
  <br>
  times: {{dadosEnviar.times}}
  <br> -->
  <!-- inf gerais -->
  {{dadosEnviar}}
  <div class="row">

    <div class="col s12 card white">
      <p>Informações gerais:</p>
      <div class="row">

        <div class="input-field col s12 m6 l6">
          <select class="validate icons" ng-model="dadosEnviar.visibilidade" material-select watch>
              <option value="publico" data-icon="{{FRONT}}static/img/icons/ic_lock_open_black_18px.svg">Público</option>
              <option value="privado" data-icon="{{FRONT}}static/img/icons/ic_lock_outline_black_18px.svg">Privado</option>
          </select>
          <label>Visibilidade</label>
        </div>

        <div class="input-field col s12 m6 l6">
          <select class="validate" ng-model="dadosEnviar.frequencia" material-select watch>
              <option >Única</option>
              <option >Constante</option>
          </select>
          <label for="local">Frequêcia da partida</label>
        </div>

      </div><!-- row -->
      <div class="row">

        <div class="col s12 m6 l6" ng-if="dadosEnviar.frequencia == 'Única'">
          <label for="inputData">Data</label>
          <input input-date id="inputData"
              type="text"
              name="created"
              ng-model="dadosEnviar.data"
              container=""
              format="dd/mm/yyyy"
              months-full="{{ month }}"
              months-short="{{ monthShort }}"
              weekdays-full="{{ weekdaysFull }}"
              weekdays-short="{{ weekdaysShort }}"
              weekdays-letter="{{ weekdaysLetter }}"
              disable="disable"
              min="{{ minDate }}"
              max="{{ maxDate }}"
              today="today"
              first-day="1"
              clear="clear"
              close="close"
              select-years="15"/>
        </div>

        <div class="input-field col s12 m6 l6" ng-if="dadosEnviar.frequencia != 'Única'">
          <select class="" ng-model="dadosEnviar.diasFrequencia" material-select multiple watch>
              <option >Segunda</option>
              <option >Terça</option>
              <option >Quarta</option>
              <option >Quinta</option>
              <option >Sexta</option>
              <option >Sábado</option>
              <option >Domingo</option>
          </select>
          <label for="freq">Frequêcia da partida</label>
        </div>

        <div class="input-field col s12 m6 l6">
          <label for="timepicker">Horário</label>
          <input ng-model="dadosEnviar.horario" type="text" onkeypress="mascara(this, '##:##')" maxlength="5" class="">
          <!-- <input id="timepicker" ng-model="dadosEnviar.horario" class="timepicker" type="time"> -->
        </div>

      </div><!-- row -->
    </div><!-- col s12 card white -->
  </div><!-- row -->

  <!-- locais -->
  <div class="row card white">

    <!-- "escolha o local" -->
    <div class="row">
      <div class="col s12">
        <p>Escolha o local para sua partida:</p>
      </div>
    </div>

    <!-- carousel -->
    <div class="row">

      <!-- prevLocal -->
      <a class="col m1 l1 hide-on-med-and-down grey lighten-2 z-depth-1 hoverable"
         href=""
         style="height: 150px; margin-top: 20px; no-padding"
         id="prevLocal">
        <i class="material-icons black-text medium" style="margin-top: 45px; margin-left: -20%;">keyboard_arrow_left</i>
      </a>

      <!-- middle/images -->
      <div class="col s12 m10 l10" style="margin-top: -120px;">
        <div class="carousel" >
          <a class="carousel-item z-depth-1 hoverable" href="" ng-click="definirLocal()">
            <div class="white" style="padding: 10px;">
              <img ng-src="{{FRONT}}/static/img/locais/local.jpg">
              <div class="btn waves-effect waves-light" style="margin-left: 6.5%;">Selecionar</div>
            </div>
          </a>
          <a class="carousel-item z-depth-1 hoverable" href="" ng-click="definirLocal()">
            <div class="white" style="padding: 10px;">
              <img ng-src="{{FRONT}}/static/img/locais/local.jpg">
              <div class="btn waves-effect waves-light" style="margin-left: 6.5%;">Selecionar</div>
            </div>
          </a>
          <a class="carousel-item z-depth-1 hoverable" href="" ng-click="definirLocal()">
            <div class="white" style="padding: 10px;">
              <img ng-src="{{FRONT}}/static/img/locais/local.jpg">
              <div class="btn waves-effect waves-light" style="margin-left: 6.5%;">Selecionar</div>
            </div>
          </a>
          <a class="carousel-item z-depth-1 hoverable" href="" ng-click="definirLocal()">
            <div class="white" style="padding: 10px;">
              <img ng-src="{{FRONT}}/static/img/locais/local.jpg">
              <div class="btn waves-effect waves-light" style="margin-left: 6.5%;">Selecionar</div>
            </div>
          </a>
          <a class="carousel-item z-depth-1 hoverable" href="" ng-click="definirLocal()">
            <div class="white" style="padding: 10px;">
              <img ng-src="{{FRONT}}/static/img/locais/local.jpg">
              <div class="btn waves-effect waves-light" style="margin-left: 6.5%;">Selecionar</div>
            </div>
          </a>
        </div>
        <h6>{{dadosEnviar.local}}</h6>
      </div>

      <!-- nextLocal -->
      <a class="col m1 l1 hide-on-med-and-down grey lighten-2 z-depth-1 hoverable"
         href=""
         style="height: 150px; margin-top: 20px; no-padding"
         id="nextLocal">
        <i class="material-icons black-text medium" style="margin-top: 45px; margin-left: -20%;">keyboard_arrow_right</i>
      </a>

    </div><!-- row -->

  </div><!-- row -->

  <!-- selecionar jogadores/times -->
  <div class="row">

    <!-- jogadores/times NAO selecionados -->
    <div class="col s12 m6 l6 div-lista-amigos">

      <ul class="collapsible" data-collapsible="accordion">
        <!-- jogadores -->
        <li>
          <div id="collapsible-selecionar-jogadores" class="collapsible-header active" ng-click="mudarEstadoBotaoJogador()"><i class="material-icons">person_add</i>Selecione os jogadores</div>
          <div class="collapsible-body div-scroll">

            <ul class="collection">
                <li class="collection-item avatar"
                    ng-repeat="amigo in amigos | filter: naoRetorna"
                    ng-click="mudarEstadoSelecionado(amigos, amigo)"
                    ng-class="{amigoSelecionado: amigo.selecionado}"
                    style="cursor:pointer; height: 60px;">

                    <img ng-src="{{API_STATIC}}img/usuarios/user2.jpg" alt="" class="circle no-padding">
                    <span class="title">{{amigo.nome_jogador}}</span>
                    <!-- <p class="apelido" style="margin-top: -30px;">
                      {{amigo.apelido_jogador}}
                    </p> -->
                    <p style="margin-top: -20px;">
                      <i class="material-icons yellow-text">star</i>
                      <i class="material-icons yellow-text">star</i>
                      <i class="material-icons yellow-text">star_half</i>
                      <i class="material-icons yellow-text">star_border</i>
                      <i class="material-icons yellow-text">star_border</i>
                    </p>
                </li> <!-- collection-item -->
            </ul><!-- collection -->


          </div>
        </li>
        <!-- times -->
        <li>
          <div id="collapsible-selecionar-times" class="collapsible-header" ng-click="mudarEstadoBotaoTime()"><i class="material-icons">group_add</i>Selecione os times</div>
          <div class="collapsible-body div-scroll">

            <ul class="collection">
              <!-- ng-click="mudarEstadoSelecionado(amigos, amigo)"
              ng-class="{amigoSelecionado: amigo.selecionado}" -->
                <li class="collection-item avatar"
                    ng-repeat="time in times | filter: naoRetorna"
                    ng-click="mudarEstadoTimeSelecionado(times, time)"
                    ng-class="{amigoSelecionado: time.selecionado}"
                    style="cursor:pointer; height: 60px;">

                    <img ng-src="{{API_STATIC}}img/times/escudo-qdd.jpg" alt="" class="circle no-padding">
                    <span class="title">{{time.nome}}</span>
                    <!-- <p class="apelido" style="margin-top: -30px;">
                      {{amigo.apelido_jogador}}
                    </p> -->
                    <p style="margin-top: -20px;">
                      <i class="material-icons yellow-text">star</i>
                      <i class="material-icons yellow-text">star</i>
                      <i class="material-icons yellow-text">star_half</i>
                      <i class="material-icons yellow-text">star_border</i>
                      <i class="material-icons yellow-text">star_border</i>
                    </p>
                </li> <!-- collection-item -->
            </ul><!-- collection -->


          </div>
        </li>
      </ul>
      <div class="btn-alterar-lista" ng-show="divSelecaoJogador == true">
        <button class="col s8 offset-s2 btn" type="button" ng-click="selecionarJogador(amigos)">Selecionar Jogadores</button>
      </div>
      <div class="btn-alterar-lista" ng-show="divSelecaoJogador == false">
        <button class="col s8 offset-s2 btn" type="button" ng-click="selecionarTime(times)">Selecionar Times</button>
      </div>

    </div><!-- col s12 m6 l6 white -->
    <!-- FIM - jogadores/times NAO selecionados -->

    <!-- jogadores/times JÁ selecionados -->
    <div class="col s12 m6 l6 div-lista-amigos">

        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div id="collapsible-jogadores-selecionados" class="collapsible-header active" ng-click="mudarEstadoBotaoJogador()"><i class="material-icons">person</i>Jogadores selecionados</div>
            <div class="collapsible-body div-scroll">


              <ul class="collection">
                <li class="collection-item avatar"
                    ng-repeat="selecionado in selecionados  | filter: naoRetorna"
                    ng-click="mudarEstadoSelecionado2(selecionados, selecionado)"
                    ng-class="{amigoSelecionado: selecionado.selecionado}"
                    style="cursor:pointer; height: 60px;">

                    <img ng-src="{{API_STATIC}}img/usuarios/user2.jpg" alt="" class="circle no-padding">
                    <span class="title">{{selecionado.nome_jogador}}</span>
                    <!-- <p class="apelido">
                      {{selecionado.apelido_jogador}}
                    </p> -->
                    <p style="margin-top: -20px;">
                      <i class="material-icons yellow-text">star</i>
                      <i class="material-icons yellow-text">star</i>
                      <i class="material-icons yellow-text">star_half</i>
                      <i class="material-icons yellow-text">star_border</i>
                      <i class="material-icons yellow-text">star_border</i>
                    </p>
                </li> <!-- collection-item -->
              </ul><!-- .collection -->


            </div>
          </li>
          <li>
            <div id="collapsible-times-selecionados" class="collapsible-header" ng-click="mudarEstadoBotaoTime()"><i class="material-icons">group</i>Times selecionados</div>
            <div class="collapsible-body div-scroll">

              <ul class="collection">
                <!-- ng-click="mudarEstadoSelecionado(amigos, amigo)"
                ng-class="{amigoSelecionado: amigo.selecionado}" -->
                  <li class="collection-item avatar"
                      ng-repeat="timeSelecionado in timesSelecionados | filter: naoRetorna"
                      ng-click="mudarEstadoTimeSelecionado2(timesSelecionados, timeSelecionado)"
                      ng-class="{amigoSelecionado: timeSelecionado.selecionado}"
                      style="cursor:pointer; height: 60px;">

                      <img ng-src="{{API_STATIC}}img/times/escudo-qdd.jpg" alt="" class="circle no-padding">
                      <span class="title">{{timeSelecionado.nome}}</span>
                      <!-- <p class="apelido" style="margin-top: -30px;">
                        {{amigo.apelido_jogador}}
                      </p> -->
                      <p style="margin-top: -20px;">
                        <i class="material-icons yellow-text">star</i>
                        <i class="material-icons yellow-text">star</i>
                        <i class="material-icons yellow-text">star_half</i>
                        <i class="material-icons yellow-text">star_border</i>
                        <i class="material-icons yellow-text">star_border</i>
                      </p>
                  </li> <!-- collection-item -->
              </ul><!-- collection -->

            </div>
          </li>
        </ul>

      <div class="btn-alterar-lista" ng-show="divSelecaoJogador == true">
        <button class="col s8 offset-s2 btn" type="button" ng-click="retornarJogador(selecionados)" >Remover Jogadores</button>
      </div>
      <div class="btn-alterar-lista" ng-show="divSelecaoJogador == false">
        <button class="col s8 offset-s2 btn" type="button" ng-click="retornarTime(timesSelecionados)" >Remover Times</button>
      </div>
    </div>
    <!-- FIM - jogadores/times JÁ selecionados -->

  </div><!-- row -->

  <!-- btn Criar partida -->
  <div class="row">
    <button class="col s6 offset-s3 m4 offset-m4 amber darken-4 btn z-depth-1" ng-click="criarPartida(selecionados, timesSelecionados, dadosEnviar)">Criar partida</button>
    <!-- ng-click="enviarDados(selecionados, dadosEnviar)" -->
  </div>

  <!-- Modal "remover jogador" -->
  <div id="selecionarLocalModal" class="modal modal-fixed-footer">
      <div class="modal-content">
          <div class="row">
            <h5 class="center-align">Nome local</h5>
          </div>
          <div class="row">
            <div class="col s12 m3">
              <p class="center-align">
                Ver mais
              </p>
            </div>
            <div class="col s12 m3">
              <p class="center-align">
                Classificação dos usuários:
              </p>
              <p class="center-align">
                <i class="material-icons yellow-text">star</i>
                <i class="material-icons yellow-text">star</i>
                <i class="material-icons yellow-text">star_half</i>
                <i class="material-icons yellow-text">star_border</i>
                <i class="material-icons yellow-text">star_border</i>
              </p>
            </div>
            <div class="col s12 m3">
              <p class="center-align">
                Funcionamento:
              </p>
              <p class="center-align">
                Segunda à Domingo 08:00 - 22:00
              </p>
            </div>
            <div class="col s12 m3">
              <p class="center-align">
                Partidas recebidas:
              </p>
              <p class="center-align" style="font-size: 14pt;">
                <i class="material-icons black-text">history</i>
                  327
              </p>
            </div>
          </div>

          <p>Escolha o horário da partida:</p>
          <div class="row">

            <table>
              <thead>
                <tr>
                    <th></th>
                    <th data-field="segunda">Segunda</th>
                    <th data-field="terca">Terça</th>
                    <th data-field="quart">Quarta</th>
                    <th data-field="quinta">Quinta</th>
                    <th data-field="name">Sexta</th>
                    <th data-field="price">Sábado</th>
                    <th data-field="price">Domingo</th>

                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>07:00</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                </tr>
                <tr>
                  <td>07:00</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                </tr>
                <tr>
                  <td>07:00</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                </tr>
                <tr>
                  <td>07:00</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                </tr>
                <tr>
                  <td>07:00</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                </tr>
                <tr>
                  <td>07:00</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                </tr>
                <tr>
                  <td>07:00</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                  <td>disponível</td>
                  <td>Ocupado</td>
                </tr>
              </tbody>
            </table>

          </div>
      </div>
      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat" ng-click="adicionarJogador(amigos, times, idTimeToEdit)">Salvar</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      </div>
  </div>
  <!-- FIM modal "remover jogador" -->


</div><!-- divNovaPartida -->
<script>
$(document).ready(function () {
  $('#timepicker').pickatime({
    autoclose: true,
    twelvehour: false,
    donetext: 'Fechar',
    vibrate: true
  });
  $('.carousel').carousel({
    time_constant: 150,
    dist: -30
  });

  // click do carrosel
  $("#prevLocal").click(function(){
    $('.carousel').carousel('prev', 1);
  });
  $("#nextLocal").click(function(){
    $('.carousel').carousel('next', 1);
  });

  //
  // id="collapsible-selecionar-jogadores"
  // id="collapsible-selecionar-times"
  // id="collapsible-jogadores-selecionados"
  // id="collapsible-times-selecionados"

  // SINCRONIA DO COLLAPSIBLE (JOGADORES E TIMES)
  $("#collapsible-selecionar-times").click(function(){
    $("#collapsible-times-selecionados").next().css("display", "block");
    $("#collapsible-times-selecionados").next().css("display", "block");
    $("#collapsible-jogadores-selecionados").next().css("display", "none");
  });
  $("#collapsible-selecionar-jogadores").click(function(){
    $("#collapsible-times-selecionados").next().css("display", "none");
    $("#collapsible-jogadores-selecionados").next().css("display", "block");
  });
  $("#collapsible-times-selecionados").click(function(){
    $("#collapsible-selecionar-times").next().css("display", "block");
    $("#collapsible-selecionar-jogadores").next().css("display", "none");
  });
  $("#collapsible-jogadores-selecionados").click(function(){
    $("#collapsible-selecionar-times").next().css("display", "none");
    $("#collapsible-selecionar-jogadores").next().css("display", "block");
  });

});
</script>
