<!DOCTYPE html>
<link rel="stylesheet" href="public/css/perfil.css">

<div class="divPerfil">

  <h4>{{titulo}}</h4>
  <p>
    {{jogador}}
  </p>
  <div class="row">
    <div class="col s12 m10 l10 offset-m1 offset-l1" ng-show="!disabled" ng-click="save(jogador)">
      <div class="right pd-b-2">
        <button class="btn" type="button" name="button">Salvar</button>
      </div>
    </div>
    <div class="col s12 m10 l10 offset-m1 offset-l1" ng-show="disabled" ng-click="ableForm()">
      <div class="right pd-b-2">
        <button class="btn" type="button" name="button">Editar</button>
      </div>
    </div>
    <div class="col s12 m10 l10 offset-m1 offset-l1 white z-depth-2">

      <!--  PRIMEIRA ROW (IMAGEM E CAMPOS LATERAIS) -->
      <div class="row pd-t-2">

        <!-- COL ESQUERDA = IMAGEM -->
        <div class="col s12 m6">
          <div class="row center-align">
            <img class="responsive-img" src="{{API_STATIC}}img/usuarios/user3.jpg">
          </div>
          <div class="row">
            <input type="file" name="name" value="" ng-disabled="disabled">
          </div>
        </div>
        <!-- / COL ESQUERDA = IMAGEM -->

        <!-- COL DIREITA = CAMPOS -->
        <div class="col s12 m6" input-field>
          <div class="row" input-field>
            <input type="text" ng-model="jogador.nome_jogador" ng-disabled="disabled">
            <label>Nome</label>
          </div>
          <div class="row" input-field>
            <input type="text" ng-model="jogador.sobrenome_jogador" ng-disabled="disabled">
            <label>Sobrenome</label>
          </div>
          <div class="row" input-field>
            <input type="text" ng-model="jogador.apelido_jogador" ng-disabled="disabled">
            <label>Apelido</label>
          </div>
          <div input-field>
            <select class="" ng-model="select.value1" material-select watch ng-disabled="disabled" ng-disabled="disabled">
              <option >Masculino</option>
              <option >Feminino</option>
              <option >Outro</option>
            </select>
          </div>
        </div>
        <!-- / COL DIREITA = CAMPOS -->

      </div>
      <!-- / PRIMEIRA ROW (IMAGEM E CAMPOS LATERAIS) -->

      <!-- SEGUNDA ROW (CAMPOS DE BAIXO) -->
      <div class="row">
        <div class="col s6" input-field>
          <input type="text" ng-model="jogador.data_nascimento" ng-disabled="disabled">
          <label>Data de nascimento</label>
        </div>
        <div class="col s12 m6" input-field>
          <input type="text" ng-model="jogador.email" length="150" ng-disabled="disabled">
          <label>Email</label>
        </div>
      </div>
      <!-- / SEGUNDA ROW (CAMPOS DE BAIXO) -->


    </div>
  </div>
</div>
