.divAmigos ul{
  padding: 0 4px;
}
.divAmigos .row .col{
  padding: 0 0.3rem;
}
.divAmigos .containerJogador{
  height: auto;
  background-color: white;
  border-radius: 2px;
  margin-bottom: 10px;
  padding-bottom: 1px;
}
.divAmigos .containerJogador img{
  width: auto;
  margin: 0;
  padding: 0;
  border-radius: 2px 2px 0 0;
}
.divAmigos .imgUser{
  border-radius: 2px 2px 0 0;
}
.divAmigos .btn-remover{
  display: block;
  margin: 10px;
  padding: 2px;
  /*height: 22px;*/
}
/*.btn-remover{
  width: 70%;
  height: 25px;
  margin: 10px;
  border-radius: 2px;
}*/
.divAmigos .btn-remover a{
  color: gray;
  text-decoration: none;
}
