@font-face {
    font-family: 'josefin-sans'; /*a name to be used later*/
    src: url('../../static/font/josefin-sans/JosefinSans-Bold.ttf');
}
.pd-1{padding: 10;}
.pd-t-1{padding-top: 10px}
.pd-b-1{padding-bottom: 10px}
.pd-h-1{padding-left: 10px; padding-right: 10px;}
.pd-v-1{padding-top: 10px; padding-bottom: 10px;}

.pd-2{padding: 20;}
.pd-t-2{padding-top: 20px}
.pd-b-2{padding-bottom: 20px}
.pd-h-2{padding-left: 20px; padding-right: 20px;}
.pd-v-2{padding-top: 20px; padding-bottom: 20px;}

body{
  font-family: 'josefin-sans';
}
nav{
  background-color: #00c853;
  /*border-bottom: 5px solid #1b5e20; */
   /*green accent-4*/
  height: 90px;
}
nav h1{
  font-size: 15pt;
  margin-top: 20px;
}
nav h2{
  font-size: 14pt;
  margin-top: 20px;
}
nav .divider{
  background-color: black;
}
.button-collapse{
  margin-top: 15px;
}
.divSearch{
  margin-top: 10px;
}
.divSearch input{
  margin-top: 10px;
  padding: 10px;
  padding-right: 20px;
}
.divSearch i{
  margin-top: -10px;
}
.divUserOptions{
  height: 30x;
}
#img-logo{
  height: auto;
  max-height: 54px;
  margin-top: 3px;
  margin-left: 80px;
}
#menu-button{
  margin-left: 10px;
}
/*logo*/
#img-logo{
  height: 80px;
}
/*imagem do usuário*/
.background-user-top{
  height: 90px;
  /*background-color: #00c853;*/
}
.background-user-bottom{
  height: 30px;
}
.user-img{
  margin-top:15px;
  margin-left: 15px;
  width: 100px;
}
/*título da página*/
.titulo{
  font-size: 18pt;
  margin: 0 0 0 20px;
}

/*  nav-bar  */

#nav-mobile{
  background-color: #f5f5f5;
}

@media (max-width: 992px){
  #nav-mobile{
    margin-top: 0;
    height: 100% - 30px;
  }
}
@media (min-width: 993px){
  .content{
    margin-left: 240px;
  }
}

/*  FOOTER  */

@media (max-width: 997px){
  #img-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  nav{
    border-bottom: 0;  /*green accent-4*/
  }
}
@media (max-width: 585px){
  #img-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  .cpt-height{
    height: 100%;
  }
  #emailLogin{
    margin-top: 25%;
  }
}

/*  NO-PADDING  */

.no-padding{
  padding: 0;
}
.no-margin{
  margin: 0;
}
/* FOOTER FIXO */
.site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content{
  flex: 1 0 auto;
}
.fixar{
  position:fixed;
  top:0;
  right:0;
}
.ground{
    top:auto;
    bottom:0;
    position:absolute;
}
