.divNovaPartida{
  border-radius: 3px;
  padding: 5px;
}
.divNovaPartida #inputData{
  margin-top: -7px;
}
.divNovaPartida .div-scroll{
  height: 300px;
  overflow: auto;
}
.divNovaPartida .amigoSelecionado{
  background-color: #e3f2fd;
}
.divNovaPartida .div-scroll .apelido{
  color: #757575;
}

.divNovaPartida .btn-alterar-lista .btn{
  margin-top: 10px;
  margin-bottom: 10px;
}
.no-padding{
  padding: 0;
}
